#
# Copyright (c) 2022-2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: BSD-3-Clause
#

config NPMX
	bool "Enable npmx"

if NPMX

config NPMX_RESTORE_VALUES
	bool "Restore values"
	help
	  Restore values from nPM1300 after the SoC reset.

config NPMX_INIT_PRIORITY
	int "NPMX init priority"
	default 90
	help
	  NPMX initialization priority.

config NPMX_DEVICE_NPM1300
	bool "nPM1300"
	default y
	select I2C
	depends on DT_HAS_NORDIC_NPMX_NPM1300_ENABLED
	help
	  nPM1300 PMIC.

config NPMX_DEVICE_NPM1304
	bool "nPM1304"
	default y
	select I2C
	depends on DT_HAS_NORDIC_NPMX_NPM1304_ENABLED
	help
	  nPM1304 PMIC.

config NPMX_SHELL
	depends on SHELL
	bool "Turn on npmx shell commands"

module = NPMX
module-str = npmx
source "subsys/logging/Kconfig.template.log_config"

endif # NPMX
